body {
   background-color: rgb(240, 240, 240);
   border-top: 3px solid black;
   margin: 0;
   padding: 0;
   font-family: sans-serif;
}

h1 {
   text-align: center;
   font-size: 50px;
}

.container {
   display: flex;
   justify-content: space-evenly;
   justify-self: center;
   margin: 20px 50px;
}

.one {
   background-color: darkblue;
}

.two {
   background-color: gold;
}

.three {
   background-color: white;
}

img {
   width: 230px;
}

p {
   text-align: center;
   padding-top: 20px;
}